# File ID: RAG-PINECONE-API-REQ-8ede040d-c3b7-49f6-8443-8131a214914b
# Version ID: RAG-PINECONE-API-REQ-v1.0.0-15d1af4e-5e9e-45dd-ba7b-9a421090d8a7
# Version: 1.0.0
#
# Runtime dependencies for runtime/rag-api-pinecone-v1.py
numpy
torch
sentence-transformers
einops
pinecone
fastapi
uvicorn[standard]
